<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="./main.js" defer></script>
    <link rel="stylesheet" href="./styles.css">
    <title>Vue essentials</title>
</head>
<body>
    <div id="main-div">
        <h1>List of Goals.</h1>
        <p v-if="goals.length === 0">List Your Goals Here!</p>
        <ul v-else>
            <li v-for="goal in goals">
                {{ goal }}
            </li>
        </ul>
        <div>
            <input ref="goalText" @keyup.enter="addNewGoal" type="text" name="text" id="goal-text">
            <button @click="addNewGoal">Add</button>
        </div>
    </div> 
    <div id="friends-list">
        <ul>
            <li v-for="friend in friends">
                <ul>
                    <li>
                        {{ friend.name }}
                    </li>
                    <p class="show-more">show more</p>
                    <ul class="hide hidden-content">
                        <li>
                            {{ friend.phone }} 
                        </li>
                        <li>
                            {{ friend.email }} 
                        </li>
                    </ul>
                </ul>
            </li>

        </ul>
    </div>
</body>

</html>