<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./main.js" defer></script>
    <title>Vue essentials</title>
</head>
<body>
    <div id="main-div">
        <h1>List of Goals.</h1>
        <p v-if="goals.length === 0">List Your Goals Here!</p>
        <ul v-else>
            <li v-for="goal in goals">
                {{ goal }}
            </li>
        </ul>
        <div>
            <input ref="goalText" @keyup.enter="addNewGoal" type="text" name="text" id="goal-text">
            <button @click="addNewGoal">Add</button>
        </div>
    </div
</body>
</html>