body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

img{
  width: 150px;
}

.box-shadow img{
  box-shadow: 5px 5px 20px 0px #ec0b0b;
}

.drop-shadow img{
  filter: drop-shadow(5px 5px 10px #ec0b0b);
}