body {
  position: relative;
}

main {
  width: 90%;
  margin: 0 auto;
}

.scroll-watcher {
  height: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  scale: 0 1;
  background-color: greenyellow;
  animation: scroll-watcher;
  animation-timeline: scroll();
  transform-origin: left;
}
@keyframes scroll-watcher {
  to {scale: 1 1;}
}